body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F1; }

a {
  text-decoration: none; }

li {
  list-style-type: none;
  font-size: 14px; }

nav li {
  display: inline;
  padding: 10px; }

nav {
  background-color: #FFFFFF; }
  nav #Search {
    border-bottom: 1px solid #E1E3DF; }
    nav #Search #Logo {
      color: #F56400;
      font-size: 30px;
      margin: 25px;
      margin-top: 25px;
      background-color: blue; }
    nav #Search #SearchBar {
      background-color: red;
      width: 100px;
      height: 40px; }
    nav #Search #HorizontalTop {
      background-color: green; }
      nav #Search #HorizontalTop li {
        color: #0092B5; }
      nav #Search #HorizontalTop li:hover {
        text-decoration: underline; }
    nav #Search #Cart {
      background-color: cyan;
      height: 40px;
      width: 50px; }
  nav #CategoriesBar {
    border-bottom: 1px solid #E1E3DF; }
    nav #CategoriesBar #Categories li {
      color: #585858;
      font-weight: lighter; }
    nav #CategoriesBar #Categories li:hover {
      color: black; }

div#ContentOverlord #ContentSidebar {
  float: left; }
  div#ContentOverlord #ContentSidebar #ShowResultsFor {
    padding: 20px;
    margin-left: 30px; }
    div#ContentOverlord #ContentSidebar #ShowResultsFor ol#AllCategories {
      border-radius: 3px;
      border: 1px solid #E1E3DF;
      background-color: #FFFFFF;
      width: 245px;
      padding: 10px; }
      div#ContentOverlord #ContentSidebar #ShowResultsFor ol#AllCategories li {
        color: #0092B5;
        padding-left: 12px;
        padding-bottom: 6px;
        padding-top: 6px; }
      div#ContentOverlord #ContentSidebar #ShowResultsFor ol#AllCategories li:hover {
        text-decoration: underline; }
  div#ContentOverlord #ContentSidebar #RefineSearch {
    padding: 20px;
    margin-left: 30px;
    height: 1200px; }
    div#ContentOverlord #ContentSidebar #RefineSearch div {
      border-radius: 3px;
      border: 1px solid #E1E3DF;
      background-color: #FFFFFF;
      width: 245px;
      height: 408;
      padding: 10px; }
      div#ContentOverlord #ContentSidebar #RefineSearch div input {
        color: #0092B5;
        padding-left: 12px;
        padding-bottom: 6px;
        padding-top: 6px; }

div#ContentOverlord #ContentMain #CatWhiskey {
  float: left;
  margin: 6px 0;
  width: 500px;
  padding: 20px 0; }

div#ContentOverlord #ContentMain #SortBy {
  float: right;
  margin: 6px 0;
  padding: 20px 0; }

div#ContentOverlord #ContentMain #TheScript .SingleItem {
  width: 170px;
  height: 190px;
  overflow: hidden;
  background-color: #FFFFFF;
  margin: 5px;
  padding: 1px 6px 1px 6px;
  float: left;
  border: 1px solid #666;
  border-radius: 3px;
  font-size: 8px; }

div#ContentOverlord #ContentRelated {
  float: left; }
  div#ContentOverlord #ContentRelated span {
    font-weight: bolder; }
  div#ContentOverlord #ContentRelated div {
    width: 100px; }
