body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F1; }

a {
  text-decoration: none; }

li {
  list-style-type: none;
  font-size: 13px; }

nav li {
  display: inline;
  padding: 10px; }

nav {
  background-color: #FFFFFF;
  display: inline-block; }
  nav #Search #Logo {
    color: #F56400;
    font-size: 30px;
    margin: 25px;
    margin-top: 25px;
    margin-left: 50px;
    float: left; }
  nav #Search #SearchBar {
    margin-top: 32px;
    float: left; }
    nav #Search #SearchBar #SearchInput {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: 1px solid #888888; }
    nav #Search #SearchBar #SearchButton {
      background-color: #34A8C4;
      color: #FFFFFF;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border: none; }
  nav #Search #HorizontalTop {
    text-align: right;
    width: 30%;
    float: left;
    margin-top: 35px; }
    nav #Search #HorizontalTop li {
      color: #0092B5; }
    nav #Search #HorizontalTop li:hover {
      text-decoration: underline; }
    nav #Search #HorizontalTop #SignIn {
      border: 1px solid #0092B5;
      border-radius: 3px; }
  nav #Search #Cart {
    color: #888888;
    width: 50px;
    margin-top: 35px;
    float: right; }
  nav #CategoriesBar {
    border-bottom: 1px solid #E1E3DF;
    border-top: 1px solid #E1E3DF; }
    nav #CategoriesBar #Categories {
      float: right; }
      nav #CategoriesBar #Categories li {
        color: #585858;
        font-weight: lighter; }
      nav #CategoriesBar #Categories li:hover {
        color: black; }

div#ContentOverlord #ContentSidebar {
  float: left;
  margin-right: 5px; }
  div#ContentOverlord #ContentSidebar #ShowResultsFor {
    padding: 20px;
    background-color: #F5F5F1;
    border: none; }
    div#ContentOverlord #ContentSidebar #ShowResultsFor ol#AllCategories {
      border-radius: 3px;
      border: 1px solid #E1E3DF;
      background-color: #FFFFFF;
      width: 245px;
      padding: 10px; }
      div#ContentOverlord #ContentSidebar #ShowResultsFor ol#AllCategories li {
        color: #0092B5;
        padding-left: 12px;
        padding-bottom: 6px;
        padding-top: 6px; }
      div#ContentOverlord #ContentSidebar #ShowResultsFor ol#AllCategories li:hover {
        text-decoration: underline; }
  div#ContentOverlord #ContentSidebar #RefineSearch {
    padding: 20px;
    height: 1600px;
    background-color: #F5F5F1;
    border: none; }
  div#ContentOverlord #ContentSidebar .Radio {
    color: #0092B5; }
  div#ContentOverlord #ContentSidebar .radio:hover {
    text-decoration: underline; }
  div#ContentOverlord #ContentSidebar div {
    border-radius: 3px;
    border: 1px solid #E1E3DF;
    background-color: #FFFFFF;
    width: 245px;
    height: 408;
    padding: 10px;
    font-size: 13px; }
    div#ContentOverlord #ContentSidebar div input {
      padding-left: 12px;
      padding-bottom: 6px;
      padding-top: 6px; }
    div#ContentOverlord #ContentSidebar div .ColorSwatches {
      padding: 0; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches a #red {
        background-color: red;
        color: red; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches a #orange {
        background-color: orange;
        color: orange; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches a #yellow {
        background-color: yellow;
        color: yellow; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches a #green {
        background-color: green;
        color: green; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches a #blue {
        background-color: blue;
        color: blue; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches a #purple {
        background-color: purple;
        color: purple; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches a #black {
        background-color: black;
        color: black; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches a #white {
        background-color: white;
        color: white; }
      div#ContentOverlord #ContentSidebar div .ColorSwatches li {
        width: 15px;
        height: 15px;
        border: 1px solid #E1E3DF;
        display: inline;
        border-radius: 3px;
        font-size: 12px;
        padding: 5px; }

#ContentMain #CatWhiskey {
  float: left;
  margin: 6px 0;
  width: 470px;
  padding: 20px 0;
  font-size: 13px; }
  #ContentMain #CatWhiskey a {
    color: #0092B5; }
  #ContentMain #CatWhiskey li:hover {
    text-decoration: underline; }

#ContentMain #SortBy {
  float: left;
  margin: 6px 0;
  padding: 20px 0;
  font-size: 13px; }
  #ContentMain #SortBy #Rel {
    color: #0092B5; }

#ContentMain #TheScript .SingleItem {
  width: 170px;
  height: 190px;
  overflow: hidden;
  background-color: #FFFFFF;
  margin: 10px;
  padding: 1px 6px 1px 6px;
  float: left;
  border: 1px solid #666;
  border-radius: 3px;
  font-size: 12px; }

#RelatedWhiskey {
  float: left;
  width: 500px; }

#ContentRelated {
  float: left;
  width: 500px; }
  #ContentRelated a {
    color: #0092B5; }
  #ContentRelated span {
    font-weight: bolder; }
  #ContentRelated .RelList {
    width: 150px;
    float: left; }

#ContentLooking {
  width: 600px;
  float: left;
  font-size: 13px; }
  #ContentLooking span {
    color: #0092B5; }
  #ContentLooking a {
    color: #0092B5; }

#ContentPages {
  float: left;
  width: 500px;
  margin: 0; }
  #ContentPages li {
    display: inline;
    border: 1px solid #D9D9D9;
    padding: 10px;
    margin: 0;
    background-color: #FFFFFF;
    font-weight: bolder; }
  #ContentPages li:hover {
    border: 1px solid black;
    background-color: #F5F5F1; }
  #ContentPages a {
    color: #555555; }
