

body{
  margin: 0;
  padding: 0;
  background-color: #F5F5F1;
}
a{
  text-decoration: none;
}

li{
  list-style-type: none;
  font-size: 14px;
}

nav li{
  display: inline;
  padding: 10px;
}

nav{
  background-color: #FFFFFF;
  // display: inline-block;
  #Search{
    border-bottom: 1px solid #E1E3DF;
    // display: inline-block;
    #Logo{
      color: #F56400;
      font-size: 30px;
      margin: 25px;
      margin-top: 25px;
      background-color: blue;
      // display: inline-block;
    }
    #SearchBar{
      // display: inline-block;
      background-color:red;
      width: 100px;
      height: 40px;
    }
    #HorizontalTop{
      background-color: green;
      li{
        color: #0092B5;
      }
      li:hover{
        text-decoration: underline;
      }
    }
    #Cart{
      background-color: cyan;
      height: 40px;
      width: 50px;
    }
  }//End of #Search


  #CategoriesBar{
    border-bottom: 1px solid #E1E3DF;        

    #Categories{
      li{
        color: #585858;
        font-weight: lighter;
      }
      li:hover{
        color: black;
      }
    }
  }//End of #CategoriesBar
}//End of nav


div#ContentOverlord{
  #ContentSidebar{
    float: left;
    #ShowResultsFor{
      padding: 20px;
      margin-left: 30px;
      ol#AllCategories{
        border-radius: 3px;
        border: 1px solid #E1E3DF;
        background-color: #FFFFFF;
        width: 245px;
        // height: 408px;
        padding: 10px;
        li{
          color: #0092B5;
          padding-left: 12px;
          padding-bottom: 6px;
          padding-top: 6px;
        }
        li:hover{
          text-decoration: underline;
        }
      }
    }
    #RefineSearch{
      padding: 20px;
      margin-left: 30px;
      height: 1200px;
      div{
        border-radius: 3px;
        border: 1px solid #E1E3DF;
        background-color: #FFFFFF;
        width: 245px;
        height: 408;
        padding: 10px;
        input{
          color: #0092B5;
          padding-left: 12px;
          padding-bottom: 6px;
          padding-top: 6px;
        }
      }
    }
  }
  #ContentMain{
    #CatWhiskey{
      float: left;
      margin: 6px 0;
      width: 500px;
      padding: 20px 0;
    }
    #SortBy{
      float: right;
      margin: 6px 0;
      padding: 20px 0;
    }
    #TheScript{
      .SingleItem{
        width: 170px;
        height: 190px;
        overflow: hidden;
        background-color: #FFFFFF;
        margin: 5px;
        padding: 1px 6px 1px 6px;
        float: left;
        border: 1px solid #666;
        border-radius: 3px;
        font-size: 8px;
      }
    }
  }
  #ContentRelated{
    float: left;
    span{
      font-weight: bolder;
    }
    div{
      width: 100px;
    }
  }
  #ContentLooking{
  }
  #ContentPages{
  }
}


// footer{
//   #EmailSign{

//   }
//   #Links{

//   }
//   #Bottom{
//     font-size: 12px;
//     a{
//       color: #666;
//     }
//     .ButBot{
//       display: inline;
//       border: 1px solid #E2E2E2;
//       padding: 5px;
//       margin-right: auto;
//       margin-left: auto;
//       #Help{
//         margin-left: 40px;
//         font-weight: bolder;
//       }
//     }
//     #Copyright{
//       text-align: center;
//       li{
//         display: inline;
//         padding-left: 20px;
//         font-size: 12px;
//       }
//     }
//   }
// }
