<!DOCTYPE html>
<html>
<head>
  <title>Ets-ish</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <nav>
    <div id="Search"> 
      <div><a href="#" id="Logo">Etsish</a></div>
      <div id="SearchBar">Search</div>
      <ul id="HorizontalTop">
        <a href="#"><li>Sell on Etsish</li></a>
        <a href="#"><li>Register</li></a>
        <a href="#"><li>Sign in</li></a>
      </ul>
      <a href="#" id="Cart">Cart</a>
    </div>
    <div id="CategoriesBar"> 
      <ul id="Categories">
        <a href="#"><li>Clothing & Accessories</li></a>
        <a href="#"><li>Jewelry</li></a>
        <a href="#"><li>Craft Supplies & Tools</li></a>
        <a href="#"><li>Weddings</li></a>
        <a href="#"><li>Entertainment</li></a>
        <a href="#"><li>Home & Living</li></a>
        <a href="#"><li>Kids & Baby</li></a>
        <a href="#"><li>Vintage</li></a>
      </ul>
    </div>
  </nav>

  <div id="ContentOverlord">
    <div id="ContentSidebar">
      <div id="ShowResultsFor">Show results for:
        <ol id="AllCategories">All Categories
          <a href="#"><li>Home & Living</li></a>
          <a href="#"><li>Art & Collectibles</li></a>
          <a href="#"><li>Weddings</li></a>
          <a href="#"><li>Clothing</li></a>
          <a href="#"><li>Jewelry</li></a>
          <a href="#"><li>Paper & Party Supplies</li></a>
          <a href="#"><li>Acessories</li></a>
          <a href="#"><li>Craft Supplies & Tools</li></a>
          <a href="#"><li>Bags & Purses</li></a>
          <a href="#"><li>Bath & Beauty</li></a>
          <a href="#"><li>Shoes</li></a>
          <a href="#"><li>Books, Movies & Music</li></a>
          <a href="#"><li>Electronics & Accessories</li></a>
          <a href="#"><li>Toys & Games</li></a>
          <a href="#"><li>Pet Supplies</li></a>
        </ul>
      </div>
      <div id="RefineSearch">Refine your search
        <div>Item Type<br>
          <input type='radio'>All Items<br>
          <input type='radio'>Handmade<br>
          <input type='radio'>Vintage<br>
          <hr>
          <p>Price</p>
        </div>
      </div>
    </div>
    <div id="ContentMain">
      <div id="TheScript">
        <script type="text/template" id="info-template">
          <div class="SingleItem">
            <img src="<%= Images[0].url_75x75 %>">
            <li class="title"><%= title %></li>
            <li class="url"><%= url %></li>
            <li class="price"><%= price %></li>
            <li class="currency-code"><%= currency_code %></li>
          </div>
        </script>
      </div>  
    </div>
    <div id="ContentRelated">  
    </div>
    <div id="ContentLooking">  
    </div>
    <div id="ContentPages">  
    </div>
    <div id="">  
    </div>
  </div>

<!--   <footer>
    <div id="EmailSign"> 
    </div>
    <div id="Links"> 
    </div>
    <div id="Bottom">
      <a id="UnitedStates" href="#"><div class="ButBot">United States</div></a>
      <a id="English" href="#"><div class="ButBot">English (US)</div></a>
      <a id="USD" href="#"><div class="ButBot">$ USD</div></a> 
      <a id="Help" href="#"><div class="ButBot">Help</div></a>
      <ul id="Copyright">Copyright
        <a href="#"><li>Legal</li></a>
        <a href="#"><li>Privacy</li></a>
        <a href="#"><li>Interest-based ads</li></a>
      </ul>
    </div>
  </footer> -->


  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="js/items.js"></script>
  <script src="js/main.js"></script>
</body>
</html>